mat-card {
  margin: 20px;
  padding: 20px;
  width: 600px;
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.grid-item {
  padding: 10px;
}

.block {
  margin: 10px;
}

.hover:hover {
  text-decoration: underline;
}

.block-title {
  font-size: 1.25em;
  font-weight: bold;
}

.block-content ul {
  padding-left: 20px;
}

.block-content li {
  list-style-type: disc;
}

mat-divider {
  margin: 10px 0;
}

mat-raised-button {
  width: 80%;
}

.dugme {
  background-color: #00ccff !important;
  color: white !important;
  margin-bottom: 15px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}


.card-left {
  margin-right: 10px;
  width: 200px;
}

.card-right {
  margin-left: 10px;
}

a {
  color: black;
  text-decoration: none;
}

a:visited,
a:hover,
a:active {
  color: black;
}

p {
  text-align: center;
}