services:
  websocketplumber:
    build:
      context: ./WebSocketServer
      dockerfile: Dockerfile
    container_name: "WebSocketPlumber"
    env_file: 
      - ./WebSocketServer/.env
    ports: 
      - 3100:4500
    volumes:
      - ./WebSocketServer:/app
      - ws_node_modules:/app/node_modules
    command: ["node","index.js"]
    networks: [app]

  frontend:
    build:
      context: ./javisefront
      dockerfile: Dockerfile
    container_name: FrontEndNBP
    environment:
      - NODE_ENV=development
    ports:
      - 4050:4200
    volumes:
      - ./javisefront:/app
      - web_node_modules:/app/node_modules
    command: ["ng","serve","--host","0.0.0.0"]
    networks: [app]

  redis:
    image: redis:8.6
    container_name: redis-nbp
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    command: redis-server --appendonly yes
    networks: [app]

  neo4j:
    image: neo4j:5
    container_name: neo4j-nbp
    ports:
      - "7474:7474"   # HTTP (browser UI)
      - "7687:7687"   # Bolt (aplikacije)
    environment:
      - NEO4J_AUTH=neo4j/majstori-nbp
    volumes:
      - neo4j-data:/data
    networks: [app]

  backend:
    build:
      context: ./majstori-nbp-server
      dockerfile: Dockerfile
    container_name: backend-nbp
    ports:
      - "5104:5104"
    env_file:
      - ./.env
    environment:
      - ASPNETCORE_URLS=http://+:8080
      - NEO4J_URI=bolt://neo4j:7687
      - NEO4J_USERNAME=neo4j
      - NEO4J_PASSWORD=majstori-nbp
      - REDIS_URI=redis
      - REDIS_PORT=6379
      - REDIS_PASSWORD=
    depends_on:
      - redis
      - neo4j
    networks: [app]

networks:
  app:

volumes:
  web_node_modules:
  ws_node_modules:
  redis-data:
  neo4j-data:
