.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 20px auto;
  gap: 20px;
  max-width: 900px;
}

.chat-list-card {
  width: 250px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.chat-list-card h3 {
  margin-bottom: 20px;
  font-weight: bold;
  text-align: center;
}

.chat-list-card ul {
  list-style: none;
  padding: 0;
}

.chat-list-card li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  transition: background-color 0.3s;
}

.chat-list-card li:hover {
  background-color: #f0f0f0;
}

.chat-card {
  width: 500px;
  display: flex;
  flex-direction: column;
  height: 600px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.chat-card h3 {
  margin: 20px;
  font-weight: bold;
  text-align: center;
}

#messages {
  height: 100%;
  overflow-y: auto;
  padding: 10px;
  flex-grow: 1;
  border-bottom: 1px solid #ccc;
}

.my-message-container,
.other-message-container {
  display: flex;
  margin: 5px 0;
}

.my-message-container {
  justify-content: flex-end;
}

.other-message-container {
  justify-content: flex-start;
}

.my-message,
.other-message {
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  max-width: 75%;
  word-wrap: break-word;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.my-message {
  background-color: #dcf8c6;
  text-align: right;
}

.other-message {
  background-color: #fff;
  text-align: left;
}

.input-container {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ccc;
  background-color: #f9f9f9;
}

input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  outline: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.send {
  background-color: #00ccff !important;
  color: white !important;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}