.container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.card {
    width: 600px;
}

.card-header {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.card mat-card-content ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.card mat-card-content li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 10px;
}

.profile-picture {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
}

.majstor-name {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    margin-right: auto;
}

.majstor-rating {
    font-size: 1em;
    color: #777;
}

button {
    margin-left: 10px;
}

.chat-button {
    background-color: #00ccff !important;
    color: white !important;
}

.score-imput {
    width: 10%;
}