.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  margin: 0;
}

.profile-card-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.profile-card {
  width: 300px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.card-header {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.profile-picture img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.majstor-name {
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

mat-card-header mat-card-title {
  font-size: 1.5em;
  font-weight: bold;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.dugme {
  display: block;
  margin: 0 auto;
  background-color: #00ccff !important;
  color: white !important;
}