<div class="container">
  <div class="left-card-container">
    <mat-card class="profile-card card-left">
      <mat-card-header class="card-header">
        <div class="profile-header">
          <div class="profile-picture">
            <img [src]="profilePicture" alt="Profile Picture">
          </div>
          <div class="profile-info">
            <mat-card-title class="majstor-name">{{ ime }} {{ prezime }}</mat-card-title>
          </div>
        </div>
      </mat-card-header>
      <mat-card-content>
        <p><strong>Broj:</strong> {{ broj }}</p>
        <p><strong>Lokacija:</strong> {{ lokacija}}</p>
        <p><strong>Adresa:</strong> {{ adresa }}</p>
        <ul class="kategorije">
          <ng-container *ngFor="let item of podkategorija">
            <li>{{ item.naziv }}</li>
          </ng-container>
        </ul>
      </mat-card-content>
      <div class="dugmad">
        <mat-card-actions>
          <button mat-raised-button class="dugme" (click)="openDialogEditujProfil()">Editujte profil</button>
        </mat-card-actions>
        <mat-card-actions>
          <button mat-raised-button class="dugme" (click)="openChatRoom()">Pristupite razgovoru</button>
        </mat-card-actions>
      </div>
    </mat-card>
  </div>

</div>